
nav {
  height: 100px;
  display:flex;
  padding:15px 50px 15px;
  box-shadow: 0px 2.98px 7.45px rgba(0,0,0,0.1);
}

.intro {
  height: 550px;
  padding:20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2.98px 7.45px rgba(0,0,0,0.1);
}


#photo-grid {
  height:380px;
  align-items: center;
}

.card {
  width:305px;
  font-size:0.75rem;
  padding:20px;
  position:relative;

}

.badge{
  position:absolute;
  background-color:white;
  top:26px;
  left:26px;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
}


.cards {
  display:flex;
  flex-wrap: wrap;
}

.card-img{
  width:100%;
  border-radius: 9px;
}

.bold{
  font-weight: bold;
}

.grey {
  color:#918E9B;
}

.star{
  width:6%;
  /* height: 80%; */
}
h2{
  font-size:15px;
  font-weight:normal;
}
/* .App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
